#root{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #111;
}

.login-form {
  background: #1e1e1e;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  color: white;
}

.login-form h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.login-form input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.login-form button {
  padding: 0.75rem;
  background: #e50914;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background: #f40612;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  background-color: #e50914;
  padding-left: 10px;
  border-radius: 1vh;
  height: 8vh;
}

.textoCadastro{
  color: #fff;
  margin-right: 10px;
  text-align: center;
}

.register{
  background-color: #1e1e1e;
  border-radius: 0 1vh 1vh 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.register:hover{
  background-color: #4c4b4b;
  cursor: pointer;
}

.text-top-right{
  border-radius: 0 1vh 1vh 0;
  width: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
